
$color-bg:#F7F9F9;
$color-main:#2cb696;
$color-text:#444444;
$color-text-gray:#898D8C;
$color-text-light:#898D8C;
$color-text-light:#898D8C;
$color-border:#e1e5e7;
$color-border-light:rgba(#000,.5);
$color-like:#EA3F60;
$radius:4px;
$color-shadow:0 1px 2px 1px rgba(0, 0, 0, .05);
